/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset style */
body {
    height: 100%;
    /*  color: yellow;  */
}

.header-wrapper {
    margin-top: 20px;
    padding: 10px 30px;
    background: #eceef1;
    /* background-color: greenyellow; */
}

nav {
    float: none;
    padding: 10px 30px;

}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.already-sign {
    flex-direction: column;
    display: flex;
    font-size: xx-small;
    margin-top: 8px;
}

.sign-now {
    padding-top: 8px;
    padding-left: 12px;
    margin-right: -44px;
}

.sign_in,
.submit {
    border: 1px solid #ccc;
    color: white;
    cursor: pointer;
    font-weight: normal;
    font-size: 1em;
    margin-top: -1px;
    border-radius: 4px;
    /*background-color: blue;*/
}

div.logo {
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    /*  background-color: aqua;  */
}

.top-service {
    justify-content: center;
    display: flex;
    margin-top: 11px;
}

.main-title {
    color: #4c4c4c;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

div.learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

ul {
    flex-direction: row;
    display: flex;
    padding: 25px 5px 20px 5px;
}

.top_icons {
    margin: 0px -5px 0px 5px;
}

.text {
    color: #4c4c4c;
    font-size: 17px;
}

.footer-row1 {
    margin: 0px -3px 0px 5px;
    padding: 0px 0px 0px 5px;
    text-decoration: none;

}

li.footer-row1 {
    color: #4c4c4c;
}

section {
    height: 85%;
    display: flex;
    justify-content: center;
    background-color: palevioletred;

}

.main-section {
    /* display: flex; */
    line-height: 1.5;
    text-align: left;
    justify-content: center;
    border: px solid green;
    background-color: rgb(222, 232, 235);
    color: #505050;
    margin: 20px 280px 20px 280px;
    height: 80%;
    /*  margin-bottom: 8em; */
}

footer {
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 218, 18);
    color: #505050;
}

/*
body {
    background: black; 
    
}
*/
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    /*  height: 20em; */
}

.form {
    /*  margin-top: 4em;   */
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1em;
    font-weight: 2em;
}

input,
textarea {
    display: block;
    margin: 0 auto;
    border-radius: 1px;
    text-align: center;
    margin-bottom: 1em;

}

.footer-row {
    justify-content: center;
    display: flex;
    color: #4c4c4c;
}

a {
    color: navy;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    font-size: xx-small;
}

a.forgot {
    text-decoration: none;
}

form label {
    color: gray;
}

form span {
    color: black;
    font-size: 10px;
}